@layer theme, base, vs-theme, components;

@import "tailwindcss/theme" layer(theme);
@import "tailwindcss/preflight" layer(base);

@import "@vivliostyle/theme-base/css/common/meta-properties.css" layer(vs-theme);
@import "@vivliostyle/theme-base/css/common/basic.css" layer(vs-theme);

.editor-root {
  height: 100%;
  container-type: size;
}

.tiptap {
  min-height: 100%;
  max-width: 100%;
  padding-inline: min(calc(8 * var(--spacing)), 6cqw);
  padding-top: max(min(calc(16 * var(--spacing)), 10cqh), 1px);
  padding-bottom: max(calc(100cqh - 12rem), 1px);

  &:focus-visible {
    outline: none;
  }

  &:not(.ProseMirror-focused) .is-editor-empty:first-child::before {
    color: theme(--color-gray-400);
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }
}
