:host {
  --vs-columns: auto;
  /* --vs-font-family: var(--vs-font-family, var(--font-sans)); */
  /* --vs--monospace-font-family: var(--vs--monospace-font-family, var(--font-mono)); */
  --vs-color-body: var(--vs-color-body, inherit);
  --vs-color-bg: var(--vs-color-bg, inherit);

  font-family: var(--vs-font-family);
  font-feature-settings: var(--vs-font-feature-settings);
  font-kerning: var(--vs-font-kerning);
  font-size: var(--vs--html-font-size);
  font-stretch: var(--vs-font-stretch);
  font-style: var(--vs-font-style);
  font-synthesis: var(--vs-font-synthesis);
  font-variant: var(--vs-font-variant);
  font-variation-settings: var(--vs-font-variation-settings);
  font-weight: var(--vs-font-weight);
  letter-spacing: var(--vs-letter-spacing);
  line-height: var(--vs-line-height);
  background-color: var(--vs-color-bg);
  color: var(--vs-color-body);
  tab-size: var(--vs-tab-size);
  hyphens: var(--vs-hyphens);
  line-break: var(--vs-line-break);
  overflow-wrap: var(--vs-overflow-wrap);
  word-break: var(--vs-word-break);
  columns: var(--vs-columns);
  column-fill: var(--vs-column-fill);
  column-gap: var(--vs-column-gap);
  text-orientation: var(--vs-text-orientation);
  text-underline-offset: var(--vs-text-underline-offset);
  text-underline-position: var(--vs-text-underline-position);
  orphans: var(--vs-orphans);
  widows: var(--vs-widows);
  writing-mode: var(--vs-writing-mode);
  text-spacing: var(--vs-text-spacing);
  hanging-punctuation: var(--vs-hanging-punctuation);
  text-align: var(--vs-text-align);
  word-spacing: var(--vs-word-spacing);
}
