name: deploy

on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: vivliostyle/vivliostyle.pub/.github/actions/setup@ci/deploy
      - run: pnpm build

  deploy:
    if: ${{ github.ref == 'refs/heads/main' }}
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: vivliostyle/vivliostyle.pub/.github/actions/setup@ci/deploy
      - run: pnpm build
